@*@model IEnumerable<niu.Models.Student>*@
@using PagedList.Mvc;
@model PagedList.IPagedList<niu.Models.Student>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Students";
}

<h2>Student</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @*@(Html.Kendo().Button()
        .Name("Create")
        .HtmlAttributes(new { type = "button" })
        .Events(ev => ev.Click("Create"))
        .Content("Create New"))*@
</p>
@using (Html.BeginForm("Index","Student",FormMethod.Get))
{
    <p>
        Find by name: 

        @(Html.Kendo().MaskedTextBox()
        .Name("SearchString")
        )
       
        

        @(Html.Kendo().Button()
        .Name("Button")
        .HtmlAttributes( new {type = "submit"} )
        .Content("Search"))
      
        @*Find by name: @Html.Kendo().TextBox("SearchString")
        <input type="submit" value="Search" />*@
    </p>
    
}
@*<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>*@


@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
        columns.Template(@<text> @Html.ActionLink("Edit",
     "Product", new { id = item.Id, @style = "text-transform:capitalize;" }) </text>).ClientTemplate("<a href='/Products/Product/Edit/#= Id#'>View/Edit</a>").Width(100);
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }*@
@Html.Kendo().Grid(Model).Name("item").Columns(c =>
{
    c.Bound(p => p.LastName);
    c.Bound(p => p.FirstMidName);
    c.Bound(p => p.EnrollmentDate);
    c.Template(@<text>
    @Html.ActionLink("Edit", "Edit", new { id = item.ID, }) 
@Html.ActionLink("Details", "Details", new { id = item.ID })
@Html.ActionLink("Delete", "Delete", new { id = item.ID })
</text>);

}).Sortable().Pageable()
@*</table>*@



@*<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@